page {
  width: 750rpx;
  // height: 100%;
  background-image: url("../../assets/login.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // background-color: #e3e9f1;
  position: relative;
}
.login-wrap {
  width: 100%;
  height: 100%;
  .login-title {
    position: absolute;
    left: 50rpx;
    top: 330rpx;
    width: 280rpx;
    height: 100rpx;
    background-image: url("../../assets/login_text.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .number {
    width: 400rpx;
    height: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 600rpx;
    line-height: 26px;
    font-size: 46rpx;
    font-weight: 600;
    text-align: center;
  }
  .button-wrap {
    display: flex;
    width: 640rpx;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1053rpx;
    .btn-item {
      width: 300rpx;
      height: 100rpx;
      border: 1px #ff5678 solid;
      border-radius: 50rpx;
      text-align: center;
      line-height: 100rpx;
      color: #ff5678;
    }
    // .rider-btn {
    //   margin-left: 20rpx;
    // }
    .submit {
      margin-top: 70px;
      width: 640rpx;
      height: 100rpx;
      border: 1px #4277bc solid;
      border-radius: 50rpx;
      text-align: center;
      line-height: 100rpx;
      color: #4277bc;
    }
  }
}
