page {
  width: 750rpx;
  height: 100%;
  background-color: #e3e9f1;
}
.sendDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .sendMsg {
    width: 700rpx;
    background-color: white;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    margin-top: -100px;
    height: 300px;
    justify-content: space-between;
  }
  .dispose {
    border-radius: 15px;
    margin-top: -100px;
    width: 700rpx;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .dispose-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
      //   font-weight: bold;
      font-size: 36px;
      border-bottom: 1px solid #d8d6d6;
      .title {
        color: #8a8a8a;
        margin-left: 40rpx;
      }
      .msg {
        height: 24px;
        line-height: 24px;
        color: #c0b9b9;
        margin-left: 100rpx;
        display: flex;
        align-items: center;
        margin-right: 48rpx;
      }
      .right {
        width: 40px;
        height: 40px;
        background: url("../../assets/right.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .confirm {
    // margin-top: -180px;
    margin-bottom: 100px;
    border-radius: 15px;
    width: 700rpx;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 20px 0;
    height: 65px;
    line-height: 65px;
    background: #00fff0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #00fff0,
      #0083fe
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #00fff0,
      #0083fe
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
