page {
  width: 750rpx;
  height: 100%;
  background-color: #f7f7fa;
}
.sendDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .sendMsg {
    width: 700rpx;
    background-color: white;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    margin-top: -100px;
    height: 300px;
    justify-content: space-between;
  }
  .dispose {
    border-radius: 15px;
    margin-top: -100px;
    width: 700rpx;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .dispose-item {
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      //   font-weight: bold;
      // font-size: 36px;
      border-bottom: 1px solid #d8d6d6;
      .title {
        color: #8a8a8a;
        margin-left: 40rpx;
        width: 244rpx;
      }
      .msg {
        height: 48px;
        line-height: 48px;
        color: #c0b9b9;
        display: flex;
        align-items: center;
        margin-right: 20px;
        justify-content: flex-end;

        .right {
          width: 40px;
          height: 40px;
          background: url("../../assets/right.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .price-protection {
      border: none;
    }
  }
  .confirm {
    // margin-top: -180px;
    margin-bottom: 100px;
    border-radius: 80rpx;
    width: 700rpx;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 20px 0;
    height: 65px;
    line-height: 65px;
    background: #ff5678;
  }
}
