.recruitCardContainer {
  background-color: white;
  width: 700rpx;
  //   height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 16px 0px rgba($color: #ff5678, $alpha: 0.25);
  margin: 20px 0px 20px 0px;
  border-radius: 15px;
  .card-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    margin-top: 15px;
    .card-item {
      margin-left: 15px;
      margin-right: 15px;
      font-size:28px
    }
    .title {
      font-size: 34px;
    }
    .salary {
      color: #ff5678;
      font-weight: bold;
    }
    .from {
      color: #8a8a8a;
    }
    .address {
      color: #8a8a8a;
    }
    .name {
      color: #8a8a8a;
    }
    .link {
      border-radius: 30rpx;
      padding: 10px;
      text-align: center;
      color: white;
      background: rgba($color: #ff5678, $alpha: 0.35);
    }
  }
}
