.tabs {
  margin-top: 20px;
  position: relative;
  width: 750rpx;
  .tablist {
    width: 100%;
    display: flex;
    margin-left: 30rpx;
    .tab-list-item {
      font-size: 24px;
      // color: #3cc2bb;
      //   width: 140rpx;
      padding: 20rpx;
      margin: 20rpx 40rpx 20rpx 0;
      height: 30px;
      border-radius: 20rpx;
      // font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
      // transition: all ease-in-out 0.2s;
      background-color: white;
    }
    .selected {
      // border-bottom: 7px solid #3cc2bb;
      background-color: rgba($color: #ff5678, $alpha: .5);
     color:white;
      // font-size: 36px;
    }
  }
  .tabpanels {
    // transform: translateY(40px);
    position: absolute;
    top: 100px;
    width: 750rpx;
  }
}
