.peopleMsgContainer {
  width: 700rpx;
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #d8d6d6;
  .msgDetail {
    display: flex;
    flex-direction: column;
    .title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #8a8a8a;
      padding: 15px 0;
      .title {
        width: 300rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 40px;
        line-height: 40px;
      }
      .address-book {
        width: 120px;
        height: 40px;
        // margin-left: 200rpx;
      }
    }
    .address {
      display: flex;
      align-items: center;
      color: #8a8a8a;
      padding: 15px 0;
      .text {
        width: 300rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 40px;
        line-height: 40px;
      }
      .right {
        width: 40px;
        height: 40px;
        background: url("../../assets/right.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        margin-left: 200rpx;
      }
    }
  }
}
